body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 900px;
    margin: 0 auto;
    background: -webkit-linear-gradient(top left, rgb(237, 255, 146), rgb(149, 231, 249));
    border-radius:50px 50px  0 0;
}

li p a {
    text-decoration: none;
    color: #000;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    background: rgba(129, 126, 126, 0.3);
    padding: 10px;
    border-radius:50px 50px  0 0;
}

.header__photo{
    width: 150px;
    border-radius: 50%;
}

.header__name h1 {
    font-size: 35px;
}

.main__links{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 20px auto;
}
.main__link img{
    width: 50px;
}

.summary {
    width: 70%;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

.summary__title {
    text-align: center;
    font-size: 30px;
}

li {
    list-style-type: none;
}

li p {
    padding-left: 15px;
}

.summary__languages {
    font-weight: normal;
}

footer {    
    background: rgba(129, 126, 126, 0.3);
}

footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

footer img{
    width: 100px;
}

